/dev/disp                   0770    system      system
/dev/cedar_dev              0660    media       media
/dev/ace_dev                0666    system      system
/dev/ump                    0777    system      graphics
/dev/mali                   0777    system      graphics
/dev/video0                 0777    media       media
/dev/video1                 0777    media       media
/dev/video2                 0777    media       media
/dev/video3                 0777    media       media
/dev/video4                 0777    media       media
/dev/video5                 0777    media       media
/dev/video6                 0777    media       media
/dev/video7                 0777    media       media
/dev/snd/pcmC0D0c           0770    media       media
/dev/snd/pcmC0D0p           0770    media       media

/dev/ttyACM0                0777    system      system
/dev/ttyACM1                0777    system      system
/dev/ttyACM2                0777    system      system
/dev/gps                    0777    system      system
/dev/pa_dev                 0777    system      system
/dev/sunxi_mem              0666    media       media
/dev/transform              0660    system      system
/dev/fd_dev                 0660    media       media
/dev/sr0                    0777    system      system
/dev/ion                    0777    system      graphics
/dev/pvrsrvkm               0666    root        root
/dev/pvr_sync               0666    system      graphics

/dev/ttyS0                0666   system     system
/dev/ttyS1                0666   system     system
/dev/ttyS2                0666   system     system
/dev/ttyS3                0666   system     system
/dev/ttyS4                0666   system     system
/dev/ttyS5                0666   system     system

/dev/pn544                0666   nfc        nfc

/dev/i2c-0                0666   system     system
/dev/i2c-1                0666   system     system
/dev/i2c-2                0666   system     system
/dev/i2c-3                0666   system     system

/dev/ttyUSB0              0666   system     system
/dev/ttyUSB1              0666   system     system
/dev/ttyUSB2              0666   system     system
/dev/ttyUSB3              0666   system     system
/dev/ttyUSB4              0666   system     system
/dev/ttyUSB5              0666   system     system
/dev/ttyUSB6              0666   system     system
/dev/ttyUSB7              0666   system     system
/dev/ttyUSB8              0666   system     system
/dev/ttyUSB9              0666   system     system
/dev/ttyUSB10             0666   system     system
/dev/ttyUSB11             0666   system     system
/dev/ttyUSB12             0666   system     system
/dev/ttyUSB13             0666   system     system
/dev/ttyUSB14             0666   system     system
/dev/ttyUSB15             0666   system     system
/dev/ttyUSB16             0666   system     system
/dev/ttyUSB17             0666   system     system
/dev/ttyUSB18             0666   system     system
/dev/ttyUSB19             0666   system     system
/dev/ttyUSB20             0666   system     system
